{% extends 'frontend/base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}

<div class="uk-background-cover uk-position-relative" data-src="{{ asset('components/header-f.svg') }}" uk-img>

  <div class="uk-container tm-container-medium">

<div class="uk-section uk-text-center">
  <div class="">
    <div class="service-container">
      <h1 class="title uk-margin-remove title-anim" data-in-effect="bounceIn">Contáctanos</h1>
   </div>
 </div>
 <div class="uk-section">

<div class="uk-container tm-container-medium">
    <div class="service-container">
      <div class="uk-width-xlarge@s uk-width-1-1  uk-margin-auto">
                <div class="uk-background-default uk-card-body uk-border-rounded uk-box-shadow-medium">
        <p>Déjanos tus datos y nos contactaremos contigo a la brevedad.</p>
        <form class="uk-grid-small" uk-grid>
         <div class="uk-width-1-1">
             <input class="uk-input uk-form-large" id="name" type="text" placeholder="Nombre Completo">
         </div>
         <div class="uk-width-1-2@s">
             <input class="uk-input uk-form-large" id="phone" type="text" placeholder="Teléfono">
         </div>
         <div class="uk-width-1-2@s">
             <input class="uk-input uk-form-large" id="mail" type="text" placeholder="Correo">
         </div>
         <div class="uk-width-1-1">
                <textarea class="uk-textarea uk-form-large" id="message" rows="5" placeholder="Mensaje"></textarea>
            </div>
            <div class="uk-margin-medium-top">
              <a id="sendmail-button" class="link-c uk-button">Enviar</a>
              <div id="loader" class="uk-hidden uk-margin-small-left" uk-spinner></div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

</div>
</div>

  </div>

</div>



<script>

   $('#sendmail-button').click(function(){


      var name = $('#name').val();
      var phone = $('#phone').val();
      var mail = $('#mail').val();
      var message = $('#message').val();

   if(name!="" && mail!="" && message!=""){

     $(this).addClass('uk-disabled');
     $('#loader').removeClass('uk-hidden');

     var contact_form_data = new FormData();
     contact_form_data.append('name', name);
     contact_form_data.append('phone', phone);
     contact_form_data.append('mail', mail);
     contact_form_data.append('message', message);

     $.ajax({
       type: 'post',
       url: '{{ path('request-sendcontactmail') }}',
       data: contact_form_data,
       processData: false,
       async: true,
       contentType: false,
       cache: false,
       success: function(data){

           $('#sendmail-button').removeClass('uk-disabled');
           $('#loader').addClass('uk-hidden');

         UIkit.notification({
           message: 'Recibimos tu mensaje!',
           status: 'primary',
           pos: 'bottom-right',
           timeout: 2000
        });

       }
     });
   }else{

     UIkit.notification({
       message: 'Hay Campos Vacíos',
       status: 'danger',
       pos: 'bottom-right',
       timeout: 2000
    });

   }

   });

</script>




{% endblock %}
