{% extends 'controlpanel/base.html.twig' %}
{% block title %}{{ headertitle }}{% endblock %}
{% block body %}

<div>

  <h1 class="title-a uk-margin-remove">Tienda</h1>
  <p class="content-description uk-margin-remove-top">Administre sus productos y la configuración de la tienda.</p>
    <a href="" class="link-d uk-margin-small-right"> <span class="uk-icon uk-margin-small-right" uk-tooltip="Editar" uk-icon="icon: plus;"></span> Nuevo Producto</a>
      {#<a href="" class="link-c"> <span class="uk-icon" uk-tooltip="Eliminar" uk-icon="icon: trash;"></span> </a>#}

<div class="uk-section uk-section-small"></div>

</div>

{% endblock %}
