{% extends 'controlpanel/base.html.twig' %}
{% block title %}{{ headertitle }}{% endblock %}
{% block body %}

<div>

        <div class="title-a uk-margin-remove">Ventas Notificadas</div>
        <p class="content-description uk-margin-remove-top">Administre las ventas realizadas.</p>

    <div class="uk-section uk-section-small uk-overflow-auto">
      <table class="uk-table uk-table-divider uk-table-middle uk-table-hover">
          <thead>
              <tr>
                  <th>ID De Venta</th>
                  <th>Resumen de Venta</th>
                  <th>Importe Pagado</th>
                  <th>Fecha de Compra</th>
                  <th>Nombre del Cliente</th>
                  <th>Dirección</th>
                  <th>Teléfono</th>
                  <th>Email</th>
                  <th>Detalles</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>Table Data</td>
                  <td>Table Data</td>
                  <td>Table Data</td>
                  <td>Table Data</td>
                  <td>Table Data</td>
                  <td>Table Data</td>
                  <td>Table Data</td>
                  <td>Table Data</td>
                  <td>Table Data</td>
              </tr>
          </tbody>
      </table>
    </div>

  </div>

{% endblock %}
