{% extends 'base.html.twig' %}

{% block body %}

<div class="uk-height-viewport uk-flex uk-flex-middle uk-flex-center uk-background-cover"  data-src="{{ asset('components/background-service-b.svg') }}"  uk-img>

  <div class="uk-section uk-section-large">

     <div class="uk-text-center uk-width-large">
       <h1 class="title-a">Error 404</h1>
       <p class="uk-margin-medium-bottom">No encontramos la página que andas buscando. No te dieron el link incorrecto?</p>
       <a href="{{ path('home') }}" class="link-c">Volver Al Inicio</a>
     </div>

  </div>

</div>

{% endblock %}
